<!DOCTYPE html>
<html>
  <head>
    <title>Proacc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">

    <%= render 'layouts/navbar' %>

    <% flash.each do |type, msg|%>
      <%= content_tag :div, msg, class: "alert alert-#{type}" %>
    <%end%>

    <%= yield %>
  </div>

  </body>
</html>
